* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  z-index: 2;

  &_img {
    width: 100%;
    z-index: -1;
    position: relative;
  }

  &_logo {
    position: absolute;
    z-index: 1;
    top: 4.5rem;
    left: 5.5rem;
    width: 15.375rem;
    height: 6.9375rem;
  }

  &_txt {
    position: absolute;
    z-index: 1;
    color: black;
    font-weight: bold;
    font-size: 4rem;
    line-height: 120%;
    width: 10.875rem;
    height: 4.8125rem;
    left: 78rem;
    top: 22.75rem;
  }
}

.barra-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.25rem;
  position: relative;
  width: 100%;
  height: 5.75rem;

  &_contenedor {
    position: relative; //contenedor sobre el que se van a posicionar
    border-radius: 3.8em;
    background-color: #FFFFFF;
    box-shadow: .0rem .15rem .2rem #939191;
    display: flex;
    align-items: center;
    width: 55rem;
    height: 4.7rem;

    &_input {
      border-style: none;
      outline: none;
      padding-left: 2rem;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1rem;
    }

    &_icono {
      position: absolute; //el que se va a sobreponer
      background-color: #8A42FB;
      right: 1em;

      mat-icon {
        color: #FFFFFF;
      }
    }

    &::placeholder {
      padding: 1rem;
    }
  }
}

.heroes_txt {
  text-align: center;
  margin-top: 7.5rem;
  width: 100%;

  h2 {
    font-size: 1.9375rem;
    font-weight: bold;
    color: #8A42FB;
  }

  p {
    font-size: 1rem;
    color: #343434;
    line-height: 140%;
  }
}

.hero-section {
  padding: 2rem;

  &_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    background-color: #d84141;
    width: 100%;
    max-width: 136rem;
    height: 100hv;
    margin: auto;
  }

  &_grid-item {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
  }

  &_section-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

footer {
  text-align: center;
  margin-top: 3.125rem;
}

footer p {
  margin: 0;
  font-size: 1rem;
}
