@import '../../styles/base/variables';
@import '../../styles/base/mixins';
@import '../../styles/base/typography';

.div-top {
  display: flex;
  justify-content: space-between; //espaciado máximo entre los elementos
  align-items: center;
  margin: .625rem;

  &_tit-eliminar {
    margin: 0;
    text-align: center;
    flex-grow: 1; //título ocupe el espacio disponible
    font-size: 1.2em;
    padding: 0;
  }
}

//contenedor del mensaje de advertencia
.mensaje-div {
  &_advertencia {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;

    &_imagen {
      margin: 0.6em;
      width: 5%; //ocupará el 5% del ancho del contenedor
    }

    &_adv-txt {
      margin: 0;
      width: 95%; //ocupe el 95% restante del contenedor

      &_txt1-adv {
        font-size: 1.2rem;
        margin-bottom: 0;
      }

      &_txt2-adv {
        font-size: 1rem;
        margin-top: 0;
        padding-top: 0.2rem;
      }
    }
  }
}

.div-botones {
  &_cerrar {
    background-color: $color-light;
    color: $color-secondary;
  }

  &_confirmar {
    background-color: $color-primary;
  }
}
