@import '../../styles/base/variables';
@import '../../styles/base/mixins';
@import '../../styles/base/typography';

.div-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .625rem;

  &_tit-eliminar {
    margin: 0;
    text-align: center;
    flex-grow: 1;
    font-size: 1.2em;
    padding: 0;
  }
}

.mensaje-div {
  &_advertencia {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;

    &_imagen {
      margin: 0.6em;
      width: 5%;
    }

    &_adv-txt {
      margin: 0;
      width: 95%;

      &_txt1-adv {
        font-size: 1.2em;
        margin-bottom: 0;
      }

      &_txt2-adv {
        font-size: 1em;
        margin-top: 0;
        padding-top: 0.2em;
      }
    }
  }
}

.div-botones {
  &_cerrar {
    background-color: $color-light;
    color: $color-secondary;
  }

  &_confirmar {
    background-color: $color-primary;
  }
}
