<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mensaje eliminar</title>
</head>

<body>
  <div class="div-top">
    <h2 mat-dialog-title class="div-top_tit-eliminar">Eliminar héroe</h2>
    <mat-icon (click)="cerrarMensaje()">close</mat-icon>
  </div>
  <mat-dialog-content class="mensaje-div">
    <div class="mensaje-div_advertencia">
      <img src="icon.svg" alt="icon-advertencia" class="mensaje-div_advertencia_imagen">
      <div class="mensaje-div_advertencia_adv-txt">
        <p class="mensaje-div_advertencia_adv-txt_txt1-adv"><b>¿Estás seguro de querer eliminar este héroe?</b></p>
        <p class="mensaje-div_advertencia_adv-txt_txt2-adv">Una vez eliminado no podrás revertir esta acción.</p>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="div-botones">
    <button mat-flat-button (click)="cerrarMensaje()" class="div-botones_cerrar">Cancelar</button>
    <button mat-flat-button (click)="eliminarHeroe()" class="div-botones_confirmar">Sí, eliminar</button>
  </mat-dialog-actions>

</body>

</html>
