<footer class="footer-section">
  <div class="footer-section__container">
    <p>&#64;2025 SUPERHEROCRUD, Inc</p>
    <ul class="footer-section__icons">
      <li>
        <button mat-icon-button>
          <img src="instagram.svg" alt="instagram-ico">
        </button>
      </li>
      <li>
        <button mat-icon-button>
          <img src="youtube.svg" alt="youtube-ico">
        </button>
      </li>
      <li>
        <button mat-icon-button>
          <img src="linkedin.svg" alt="linkedin-ico">
        </button>
      </li>
      <li>
        <button mat-icon-button>
          <img src="facebook.svg" alt="facebook-ico">
        </button>
      </li>
      <li>
        <button mat-icon-button>
          <img src="twitter.svg" alt="twitter-ico">
        </button>
      </li>
    </ul>
  </div>
</footer>
