.footer-section {
  text-align: left;
  width: 77.1875rem;
  height: 4rem;
  border-color: #343434;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  border-top: 0.1rem solid #0000001A;
  padding-top: 2rem;

  &_contenido {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

  @media screen and (max-width: 768px) {
    .footer-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;

      &_contenido {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1.8rem;
        margin-bottom: 4rem;
      }
    }
  }

