<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mensaje</title>
</head>

<body>
  <div class="mensaje-div">
    <div class="titulo-div">
      <p class="tit-eliminar">Eliminar héroe</p>
      <button class="cerrar">x</button>
    </div>
    <div class="advertencia">
      <img src="icon.svg" alt="icon-advertencia">
      <div class="adv-txt">
        <p class="txt1-adv"><b>¿Estás seguro de querer eliminar este héroe?</b></p>
        <p class="txt2-adv">Una vez eliminado no podrás revertir esta acción.</p>
      </div>
    </div>
    <div class="div-btn">
      <button class="btn-cancelar">Cancelar</button>
      <button class="btn-eliminar">Sí, eliminar</button>
    </div>
  </div>
</body>

</html>