@use '../../styles/variables' as var;
@use '../../styles/typography' as ty;

.home {
  display: flex;
  justify-content: center;
  padding-top: 4.5rem;
  padding-bottom: 1rem;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 41.25rem;
    padding: 0 1rem;

    h2 {
      font-size: 1.9375rem;
      color: map-get(var.$colors, primary);
      @include ty.font-style('normal', 120);
      width: 100%;
      letter-spacing: 0;
      text-align: center;
    }

    p {
      font-size: 1rem;
      color: map-get(var.$colors, secondary);
      line-height: map-get(ty.$line-heights, 120);
      width: 100%;
      padding-bottom: 1.5rem;
      letter-spacing: 0;
      text-align: center;
    }
  }
}