<app-header></app-header>
<app-search-bar [fnLoadMore]="loadMore" [fnLoadHeroes]="loadHeroes" (onHeroCreated)="openCreateEditDialog()"
  (onHeroFiltered)="handleFiltered($event)"></app-search-bar>
<section class="home">
  <div class="home__container">
    <h2>Héroes más allá de la imaginación</h2>
    <p>Desde tiempos inmemoriales, la humanidad ha soñado con figuras
      extraordinarias capaces de desafiar los límites de la realidad.
    </p>
  </div>
</section>
<app-grid-heroes [heroes]="heroes" [filteredHeroes]="filteredHeroes" [loadedHeroes]="loadedHeroes" [loading]="loading"
  (loadMore)="loadMore()" (openCreateEditDialog)="openCreateEditDialog($event)"
  (openDeleteDialog)="openDeleteDialog($event)">
</app-grid-heroes>
<app-footer></app-footer>
