<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Carga la fuente de iconos de Google -->
  <title>Home</title>
</head>

<body>
  <header class="header">
    <img src="header.png" alt="header" class="header_img">
    <img src="logo.svg" alt="logo" class="header_logo">
    <div class="header_txt">
      <p>CRUD</p>
    </div>
  </header>

  <section>
    <div class="barra-busqueda">
      <div class="barra-busqueda_contenedor">
        <input #heroeInput type="text" class="barra-busqueda_contenedor_input" placeholder="Busca un héroe">
        <button mat-icon-button class="barra-busqueda_contenedor_icono" (click)="filtrarPorNombre(heroeInput.value)">
          <mat-icon>search</mat-icon>
        </button>
      </div>

      <div class="barra-busqueda_botones">
        <button mat-flat-button class="barra-busqueda_botones_boton" (click)="appCrear.abrirDialogo()">
          <mat-icon>add</mat-icon>
          Crear nuevo héroe
        </button>
        <app-crear #appCrear></app-crear>
        <!--creo referencia al componente para llamar a sus métodos desde el comp.padre -->
      </div>
    </div>
  </section>

  <section>
    <div class="heroes_txt">
      <h2>Héroes más allá de la imaginación</h2>
      <p>Desde tiempos inmemoriales, la humanidad ha soñado con figuras extraordinarias capaces de desafiar los límites
        de la realidad.</p>
    </div>
  </section>

  <div *ngIf="heroesFiltrados.length > 0; else mostrarTodos" class="tarjeta-unica">
    <section class="hero-section">
      <div class="hero-section_grid">
        <div class="hero-section_grid_items" *ngFor="let heroe of heroesCargados">
          <mat-card class="hero-section_grid_items_card">
            <img mat-card-image [src]="heroe.imagen" alt="{{ heroe.name }}" class="hero-section_card-img">
            <mat-card-title class="hero-section_grid_items_card_title">{{ heroe.name }}</mat-card-title>
            <mat-card-subtitle class="hero-section_grid_items_card_subtitle">{{ heroe.poderes }}</mat-card-subtitle>
            <mat-card-content class="hero-section_grid_items_card_contenido">
              <p class="hero-section_grid_items_card_contenido_descripcion">{{ heroe.descripcion }}</p>
              <p class="hero-section_grid_items_card_contenido_lugar">{{ heroe.lugar }}</p>
            </mat-card-content>
            <mat-card-actions class="hero-section_grid_items_actions">
              <button mat-flat-button
                class="hero-section_grid_items_actions_editar"><mat-icon>edit</mat-icon>Editar</button>
              <button mat-flat-button class="hero-section_grid_items_actions_eliminar">Eliminar</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </section>
  </div>

  <ng-template #mostrarTodos>
    <div *ngIf="heroesFiltrados.length === 0">
      <section class="hero-section">
        <div class="hero-section_grid">
          <div class="hero-section_grid_items" *ngFor="let heroe of heroes">
            <mat-card class="hero-section_grid_items_card">
              <img mat-card-image [src]="heroe.imagen" alt="{{ heroe.name }}" class="hero-section_card-img">
              <mat-card-title class="hero-section_grid_items_card_title">{{ heroe.name }}</mat-card-title>
              <mat-card-subtitle class="hero-section_grid_items_card_subtitle">{{ heroe.poderes }}</mat-card-subtitle>
              <mat-card-content class="hero-section_grid_items_card_contenido">
                <p class="hero-section_grid_items_card_contenido_descripcion">{{ heroe.descripcion }}</p>
                <p class="hero-section_grid_items_card_contenido_lugar">{{ heroe.lugar }}</p>
              </mat-card-content>
              <mat-card-actions class="hero-section_grid_items_actions">
                <button mat-flat-button
                  class="hero-section_grid_items_actions_editar"><mat-icon>edit</mat-icon>Editar</button>
                <button mat-flat-button class="hero-section_grid_items_actions_eliminar">Eliminar</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </section>
    </div>
  </ng-template>

  <section class="ver-mas-section" *ngIf="heroes > heroesCargados">
    <button mat-flat-button class="ver-mas-section_boton" (click)="cargarMas()">Ver más</button>
  </section>
  <app-footer></app-footer>
</body>

</html>
