@import '../../styles/base/variables';
@import '../../styles/base/mixins';
@import '../../styles/base/typography';

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  /*evita desbordamiento horizontal*/
}

.header {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;

  &_img {
    width: 100%;
    height: auto;
    max-height: 30rem;
    z-index: -1;
    position: relative;
  }

  &_logo {
    position: absolute;
    z-index: 1000;
    top: 4.5rem;
    left: 5.5rem;
    width: 15.375rem;
    height: 6.9375rem;
  }

  &_txt {
    position: absolute;
    z-index: 1;
    color: black;
    font-weight: bold;
    font-size: 4rem;
    line-height: $line-height-120;
    width: 10.875rem;
    height: 4.8125rem;
    left: 77rem;
    top: 22rem;
  }
}

.barra-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.25rem;
  position: relative;

  &_contenedor {
    position: relative; //contenedor sobre el que se van a posicionar
    @include border-radius(3.8rem);
    box-shadow: .0rem .15rem .2rem #939191;
    display: flex;
    align-items: center;
    width: 55rem;
    height: 4.7rem;

    &_input {
      border: none;
      outline: none;
      border-style: none;
      padding-left: 1.3rem;
      font-size: 1rem;
    }

    &_icono {
      position: absolute; //el que se va a sobreponer
      background-color: $color-primary;
      right: 0.7rem;
      width: 3.5rem;
      height: 3.5rem;

      mat-icon {
        color: #FFFFFF;
      }
    }

    &::placeholder {
      padding: 0.6rem;
    }
  }

  &_botones {
    font-size: 1rem;
    padding-left: 3rem;

    .barra-busqueda_botones_boton {
      //porque genera un selector incorrecto porque el & hace referencia a la clase principal y no pasa por botones
      background-color: $color-primary;
      color: white;
    }
  }
}

.heroes_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  width: 100%;

  h2 {
    font-size: 1.9375rem;
    color: $color-primary;
    line-height: $line-height-120;
    width: 32.9375rem;
    height: 2.6875rem;
    font-weight: $font-weight-normal;
    letter-spacing: 0;
    margin: 0.4rem;
  }

  p {
    font-size: 1rem;
    color: #343434;
    line-height: $line-height-120;
    width: 41.25rem;
    height: 2.75rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Para estilizar todos los héroes cuando no se encuentra el filtrado
.hero-section {
  &_grid {
    display: grid;
    grid-template-columns: repeat(4, 18rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: auto;

    &_items {
      box-shadow: .03rem .3rem 1.375rem #d3d3d3;

      &_card {
        max-height: 100%;
        @include border-radius(0);
        background-color: #FFFFFF;

        img {
          height: 21rem;
        }

        &_title {
          margin: 1rem;
          width: 17.875rem;
          height: 1.75rem;
          line-height: $line-height-140;
          font-size: 1.25rem;
          font-weight: $font-weight-normal;
        }

        &_subtitle {
          margin-left: 1rem;
          width: 15.5rem;
          height: 1.375rem;
          line-height: $line-height-140;
          font-size: 1rem;
          font-weight: $font-weight-bold;
          letter-spacing: 0;
        }

        &_contenido {
          &_descripcion {
            font-size: .875rem;
            width: 16rem;
            height: 3.1875rem;
            line-height: $line-height-120;
            margin-top: 4.8rem;
            font-weight: $font-weight-normal;
            letter-spacing: 0;
          }

          &_lugar {
            font-size: 1rem;
            width: 17.875rem;
            height: 1.1875rem;
            line-height: $line-height-120;
            letter-spacing: 0;
            font-weight: $font-weight-thin;
            margin-top: 1.8rem;
          }
        }
      }

      &_actions {
        display: flex;
        justify-content: space-around;
        margin-top: 0.3rem;

        &_editar {
          width: 7rem;
        }

        &_eliminar {
          width: 7rem;
        }
      }

    }
  }

  .hero-section_grid_items_actions_editar {
    background-color: $color-primary;
    font-weight: $font-weight-light;
  }

  .hero-section_grid_items_actions_eliminar {
    background-color: $color-light;
    color: $color-secondary;
  }

  //Para estilizar el heroe filtrado
  .tarjeta-unica {
    background-color: $color-primary;
    max-width: 1.25rem;

    &_hero-section {
      padding: 1rem;

      mat-card {
        width: .625rem;
      }
    }

  }

}

.ver-mas-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.9rem;

  &_boton {
    width: 7rem;
  }

  .ver-mas-section_boton {
    background-color: $color-primary;
  }

}

@media screen and (max-width: 768px) {
  .header {
    &_img {
      width: 100%;
      object-fit: cover;
      height: 25rem;
    }

    &_logo {
      position: absolute;
      top: 4.155rem;
      left: 4.875rem;
      width: 12.75rem;
      height: 5.7531rem;
    }

    &_txt {
      display: none
    }

  }

  .heroes_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    width: 100%;

    h2 {
      font-size: 1.9375rem;
      width: 19.5rem;
      height: 4.625rem;
      font-weight: $font-weight-normal;
      line-height: $line-height-120;
      letter-spacing: 0%;
    }

    p {
      font-size: 1rem;
      color: $color-secondary;
      width: 19.5rem;
      height: 4.75rem;
      letter-spacing: 0%;
      line-height: $line-height-120;
      margin-bottom: 2rem;
    }
  }

  .barra-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25rem;
    position: relative;
    flex-direction: column;
    text-align: center;
    gap: .625rem;

    &_contenedor {
      position: relative;
      @include border-radius(3.8rem);
      box-shadow: .0rem .15rem .2rem #939191;
      display: flex;
      align-items: center;
      width: 19.5rem;
      height: 5.75rem;
    }

    &_botones {
      font-size: 1rem;
      margin-top: 1.1rem;
      padding-left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;

      .barra-busqueda_botones_boton {
        font-weight: $font-weight-normal;
        padding: 1.5rem;
      }

    }
  }

  .hero-section {
    &_grid {
      display: flex;
      flex-direction: column;
      align-items: center;

      &_items {
        width: 90%;
        box-shadow: .03rem .3rem 1.375rem #d3d3d3;

        &_card {
          background-color: #FFFFFF;

          &_img {
            max-width: 100%;
            height: auto;
          }
        }

        &_actions {
          margin-bottom: 0.4rem;

          .mat-mdc-card-actions {
            display: flex;
            min-height: 3.25rem;
            padding: .5rem;
          }

          &_editar {
            width: 8.25rem;
            height: 2.5rem;
          }

          &_eliminar {
            width: 8.25rem;
            height: 2.5rem;
          }
        }

      }
    }
  }

  .ver-mas-section {
    margin-top: 20rem;
    margin-bottom: 4rem;

    &_boton {
      width: 8.4375rem;
      font-weight: $font-weight-normal;
    }

    .ver-mas-section_boton {
      background-color: $color-primary;
    }

  }
}
