<footer class="footer-section">
  <div class="footer-section_contenido">
    <p>&#64;2025 SUPERHEROCRUD, Inc</p>
    <div class="footer-section_ico-rrss">
      <button mat-icon-button>
        <img src="instagram.svg" alt="instagram-ico">
      </button>
      <button mat-icon-button>
        <img src="youtube.svg" alt="youtube-ico">
      </button>
      <button mat-icon-button>
        <img src="linkedin.svg" alt="linkedin-ico">
      </button>
      <button mat-icon-button>
        <img src="facebook.svg" alt="facebook-ico">
      </button>
      <button mat-icon-button>
        <img src="twitter.svg" alt="twitter-ico">
      </button>
    </div>
  </div>
</footer>
