.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &_dialog-container {
    background: white;
    padding-bottom: 3rem;
    padding-top: 0.1rem;
    padding-left: 1.20rem;
    padding-right: 1rem;
    border-radius: .625rem;
    width: 80vw;
    max-width: 58.5rem;
    height: auto;
    box-shadow: 0 .125rem .625rem rgba(0, 0, 0, 0.2);

    &_div-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;

      &_titulo {
        all: unset; //Reinicia todos los estilos heredados
        margin: 0;
        text-align: center;
        flex-grow: 1;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }

      .dialog-overlay_dialog-container_div-top_titulo {
        font-size: 1.25rem;
        font-weight: 600;
        color: #333;
        margin: 0;
        line-height: 120%;
      }
    }

    &_input-label {
      display: block;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1em;
      margin-top: 0.7rem;
    }

    &_fila1 {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 1rem;

      &_campo {
        display: flex;
        flex-direction: column;

        &_input-label {
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: 1em;
        }

        &_nombre,
        &_poder {
          background-color: #254E7E17;
          border: .0938rem;
          border-radius: .5rem;
          padding: .75rem;
          width: 27.1rem;
        }
      }
    }

    &_lugar {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: #254E7E17;
      border: .0938rem;
      border-radius: .5rem;
      padding: .75rem;
      margin-top: 0.1rem;
      width: 56.7rem;
      font-size: 1rem;
    }

    &_descripcion,
    textarea {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1rem;
      background-color: #254E7E17;
      border: .0938rem;
      border-radius: .5rem;
      padding: .75rem;
      width: 56.7rem;
    }

    &_file-upload {
      display: flex;
      align-items: center;
      gap: .625rem;
      margin-top: .625rem;

      &_boton {
        background-color: #E7D8FE !important;
        color: #343434;
        font-size: 1rem;
      }

      &_file-name {
        font-size: .875rem;
        color: #343434 !important;
      }
    }

    &_div-bottom {
      display: flex;
      justify-content: space-between;
      gap: 1.125rem;
      width: 100%;
      padding-top: 2.5em;

      &_dialog-actions {
        display: flex;
        justify-content: flex-end;
        gap: .625rem;

        &_boton {
          background-color: #E7D8FE;
          color: #343434;

          .mat-mdc-unelevated-button .mdc-button__label {
            font-size: 1px;
          }
        }
      }
    }

  }
}

@media screen and (max-width: 768px) {
  .dialog-overlay {

    &_dialog-container {
      height: 180vw;
      padding-bottom: 1rem;

      &_div-top {
        padding-bottom: 0.5rem;

        .dialog-overlay_dialog-container_div-top_titulo {
          letter-spacing: 0;
        }
      }

      &_fila1 {
        display: flex;
        flex-direction: column;

        &_campo {
          &_nombre {
            width: 19rem;
            height: 2rem;
          }

          &_poder {
            width: 19rem;
            height: 2rem;
          }
        }
      }

      &_lugar {
        width: 19rem;
        height: 2rem;
      }

      &_descripcion,
      textarea {
        width: 19rem;
        height: 4.6rem;
      }

      &_file-upload {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;

        &_boton {
          width: 12rem;
          height: 3rem;
          font-size: 1rem;
          font-weight: 400 !important;
          line-height: 120%;
          letter-spacing: 0;
        }
      }

      &_div-bottom {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        padding-top: 1rem;
        width: 16.5rem;
        height: 6.375rem;

        &_terminos {
          font-weight: lighter;
        }

        &_dialog-actions {
          &_boton {
            width: 7.625rem;
            height: 3rem;
            font-size: 1rem;
            font-weight: 400 !important;
            line-height: 120%;
            letter-spacing: 0;
          }
        }
      }
    }
  }
}
