@import '../../styles/base/variables';
@import '../../styles/base/typography';

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .625rem;

  &__title-delete {
    margin: 0;
    text-align: center;
    flex-grow: 1;
    font-size: 1.2em;
    padding: 0;
  }
}

.dialog-message {
  &__warning {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;

    &__warning-icon {
      padding: 0.6em;
      width: 5%;
    }

    &__warning-text {
      margin: 0;
      width: 95%;

      &__first-line {
        font-size: 1.2rem;
        margin-bottom: 0;
      }

      &__second-line {
        font-size: 1rem;
        margin-top: 0;
        padding-top: 0.2rem;
      }
    }
  }
}

.dialog-actions {
  &__cancel {
    background-color: $color-light;
    color: $color-secondary;
  }

  &__confirm {
    background-color: $color-primary;
  }
}
