// Adaptación para la nueva estructura del HTML

.home {
  display: flex;
  justify-content: center;
  padding-top: 4.5rem;
  padding-bottom: 1rem;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 660px;
    padding: 0 1rem;

    h2 {
      font-size: 1.9375rem;
      color: $color-primary;
      line-height: $line-height-120;
      width: 100%;
      font-weight: $font-weight-normal;
      letter-spacing: 0;
      text-align: center;
    }

    p {
      font-size: 1rem;
      color: $color-secondary;
      line-height: $line-height-120;
      width: 100%;
      padding-bottom: 1.5rem;
      letter-spacing: 0;
      text-align: center;
    }
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hero-section {
  &_grid {
    display: grid;
    grid-template-columns: repeat(4, 18rem); // 4 columnas en pantallas grandes
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 0 1rem; // Añadido para que no toque los bordes
    padding-bottom: 4rem;

    @media screen and (max-width: 1260px) and (min-width: 1201px) {
      grid-template-columns: repeat(3, 18rem); // 3 columnas en pantallas medianas
    }

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 18rem); // 3 columnas en pantallas medianas
    }

    @media screen and (max-width: 953px) and (min-width: 901px) {
      grid-template-columns: repeat(2, 18rem); // 2 columnas en pantallas pequeñas
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 18rem); // 2 columnas en pantallas pequeñas
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr; // 1 columna en móviles
    }

    &_items {
      box-shadow: .03rem .3rem 1.375rem #d3d3d3;

      &_card {
        max-height: 100%;
        border-radius: 0;
        background-color: #FFFFFF;

        img {
          height: 21rem;
          object-fit: cover; // Ajustar la imagen para que sea proporcional
        }

        &_title {
          padding: 1rem;
          min-height: 1.75rem;
          line-height: $line-height-140;
          font-size: 1.25rem;
          font-weight: $font-weight-normal;
        }

        &_subtitle {
          padding-left: 1rem;
          height: 1.375rem;
          line-height: $line-height-140;
          font-size: 1rem;
          font-weight: $font-weight-bold;
        }

        &_content {
          &_description {
            font-size: .875rem;
            height: 3.1875rem;
            line-height: $line-height-120;
            margin-top: 4.8rem;
            font-weight: $font-weight-normal;
          }

          &_location {
            font-size: 1rem;
            height: 1.1875rem;
            line-height: $line-height-120;
            font-weight: $font-weight-thin;
            padding-top: 2rem;
          }
        }
      }

      &_actions {
        display: flex;
        justify-content: space-around; // Distribuir los botones equidistantemente
        margin-top: 0.3rem;

        &_edit {
          width: 7rem;
        }

        &_delete {
          width: 7rem;
        }
      }
    }
  }

  .see-more-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 3rem;

    &_button {
      width: 7rem;
    }

    .see-more-section_button {
      background-color: $color-primary;
    }
  }
}

@media screen and (max-width: 768px) {

  .hero-section {
    &_grid {
      display: flex;
      flex-direction: column;
      align-items: center;

      &_items {
        width: 90%;
        box-shadow: .03rem .3rem 1.375rem #d3d3d3;

        &_card {
          background-color: #FFFFFF;

          &_img {
            max-width: 100%;
            height: auto;
          }
        }

        &_actions {
          margin-bottom: 0.4rem;

          .mat-mdc-card-actions {
            display: flex;
            min-height: 3.25rem;
            padding: .5rem;
          }

          &_edit {
            width: 8.25rem;
            min-height: 2.5rem;
          }

          &_delete {
            width: 8.25rem;
            min-height: 2.5rem;
          }
        }
      }
    }
  }

  .see-more-section {
    padding-top: 20rem;
    padding-bottom: 4rem;

    &_button {
      width: 8.4375rem;
      font-weight: $font-weight-normal;
    }

    .see-more-section_button {
      background-color: $color-primary;
    }
  }
}
