$color-primary: #8A42FB;
$color-secondary: #343434;
$color-light: #F3F3F3;
$color-background: rgba(0, 0, 0, 0.5);
$color-shadow: rgba(0, 0, 0, 0.2);
$color-input: #254E7E17;
$color-boton-sec: #E7D8FE;



